<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844346764881-nok228vlfm53qhhm5g3iiv44kh14rudn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844346764881-nok228vlfm53qhhm5g3iiv44kh14rudn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>844346764881-fjneu6vkbb4gcm2hei39jpgc2bba37a6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCRso8zft9ueVhLwG4pXcRwBJvypOD6fSk</string>
	<key>GCM_SENDER_ID</key>
	<string>844346764881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.co.woodywillis.ReadyOrNot</string>
	<key>PROJECT_ID</key>
	<string>ready-or-not-1717c</string>
	<key>STORAGE_BUCKET</key>
	<string>ready-or-not-1717c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844346764881:ios:1a90fb7d3092d4072a1270</string>
	<key>DATABASE_URL</key>
	<string>https://ready-or-not-1717c-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>